<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div th:replace="fragments/adminBodyHeader :: adminBodyHeader"/>

<h2>강의계획서 시간 설정 페이지입니다.</h2>


<form action="/admin/syllabus-time" method="post">
    <p>강의계획서 입력 시작 시간</p>
    <input type="datetime-local" name="openTime" th:value="${syllabusTime.openTime}"/>
    <p>강의계획서 입력 종료 시간</p>
    <input type="datetime-local" name="closeTime" th:value="${syllabusTime.closeTime}"/>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">검색</button>
    </div>
</form>


</body>

</html>