<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<style>

</style>
<body>
<div th:replace="fragments/adminBodyHeader :: adminBodyHeader"/>

<!-- 교수정보 -->
    <div class="col-12">
        <label class="form-label">이름</label>
        <input type="text" class="form-control" th:value="${professor.name}" readOnly>
    </div>
    <div class="col-12">
        <label class="form-label">주민등록번호</label>
        <input type="text" class="form-control" th:value="${professor.ssn}" readOnly>
    </div>
    <div class="col-12">
        <label class="form-label">교번</label>
        <input type="text" class="form-control" th:value="${professor.loginId}" readOnly>
    </div>
    <div class="col-12">
        <label class="form-label">비밀번호</label>
        <input type="text" class="form-control" th:value="${professor.loginPw}" readOnly>
    </div>
    <div class="col-12">
        <label class="form-label">이메일</label>
        <input type="text" class="form-control" th:value="${professor.email}" readOnly>
    </div>

    <div class="col-12">
        <label class="form-label">전화번호</label>
        <input type="text" class="form-control" th:value="${professor.phoneNumber}" readOnly>
    </div>
    <div class="col-12">
        <label class="form-label">연구실번호</label>
        <input type="text" class="form-control" th:value="${professor.labNumber}" readOnly>
    </div>

    <div class="col-12">
        <label class="form-label">학과</label>
        <input type="text" class="form-control" th:value="*{professor.departmentName}" readOnly>
    </div>

<button  class="btn btn-primary" th:onclick="|location.href='@{/admin/professor}'|">목록으로</button>
<button  class="btn btn-primary" th:onclick="|location.href='@{|/admin/professor/${professor.id}/edit|}'|">수정</button>


</body>
</html>
